{% extends 'base.html' %}

    {% block content %}
        {% if user.is_authenticated %}
            <h1>Editar Ficha de Visita</h1>
            <br>
            <form action="" method="post">
                {% csrf_token %}
            
                <!--TODO: Formatar em html-->
                {{ ficha_form.as_p }}
                {{ distrito_form.as_p }}
                {{ endereco_form.as_p }}
                {{ informacoes_form.as_p }}
                {{ equipe_form.as_p }}
            
                <button class="botao" type="submit" value="Update">Atualizar</button>
                <br>
                <button type="submit" class="botao"><a href="{% url 'home' %}">Voltar</a></button>
            </form>
        {% else %}
            <h1>Você não está logado, tente novamente</h1>
        {% endif %}
    {% endblock content %}
