{% extends 'base.html' %}

    {% block content %}
        {% if user.is_authenticated %}
            <h1>Deletar Ficha de Visita</h1>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                <p class="atention">Tem certeza que deseja deletar a ficha ID:{{object.pk}}?</p>
                <div class="same-row">
                    <button class="delete" type="submit"><a class="atention">Apagar</a></button>
                    <br>
                    <button type="button"><a href="{% url 'ficha_read' object.pk%}">Voltar</a></button>
                </div>
            </form>
        {% else %}
            <h1>Você não está logado, tente novamente</h1>
        {% endif %}
    {% endblock content %}