{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>Cadastro de visitas</h1>
      <br>
      <form action="" method="post">
        {% csrf_token %}

        <!--TODO: Formatar em html-->
        {{ ficha_form.as_p }}
        {{ distrito_form.as_p }}
        {{ endereco_form.as_p }}
        {{ informacoes_form.as_p }}
        {{ equipe_form.as_p }}
        
        <div class="same-row">
          <button type="submit" onsubmit="">Cadastrar</button>
          <button type="button"><a class="cancel" href="{% url 'home' %}">Voltar</a></button>
        </div>
      </form>
  {% else %}
    <h1>Você não está logado, tente novamente</h1>
  {% endif %}
{% endblock content %}