{% extends 'base.html' %}

    {% block content %}
        <h1 id="titulo">Deletar Ficha de Visita</h1>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <p>Tem certeza que deseja deletar a ficha ID:{{object.pk}}?</p>
        
            <button class="botao" type="submit" value="Confirm">Apagar</button>
            <br>
            <button type="submit" class="botao"><a href="{% url 'ficha_read' object.pk%}">Voltar</a></button>
        </form>
    {% endblock content %}