{% extends 'base.html' %}
    
{% block content %}
    {% if user.is_authenticated %}
        <h1>Fichas cadastradas</h1>
            {% if object_list %}
                {% for ficha in object_list %}
                <p>Clique no ID para mais informações</p>
                <div class="container">
                    <!--TABELA HTML-->
                    <table>
                        <tr>
                            <th>Ficha ID</th>
                            <th>UF</th>
                            <th>MUNICIPIO</th>
                            <th>DISTRITO</th>
                            <th>RUA</th>
                            <th>Nº IMOVEL</th>
                            <th>ATIVIDADE</th>
                            <th>NOME</th>
                        </tr>
                        <tr>
                            <td><a href="{% url 'ficha_read' ficha.pk %}">{{ficha.pk}}</a></td>
                            <td>{{ficha.endereco.unidade_federacao}}</td>
                            <td>{{ficha.distrito.municipio}}</td>
                            <td>{{ficha.distrito.distrito_saude}}</td>
                            <td>{{ficha.endereco.rua}}</td>
                            <td>{{ficha.endereco.numero}}</td>
                            <td>{{ficha.infos.atividade}}</td>
                            <td>{{ficha.infos.equipe.nome_agente}}</td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            {% else %}
                <p>Nenhuma ficha encontrada.</p>
            {% endif %}
            <button type="button"><a href="{% url 'home' %}">Início</a></button>
        </div>
    {% else %}
        <h1>Você não está logado.</h1>
    {% endif %}
{% endblock content %}