{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Bem-vindo {{ user.username }}!</h1>
        <p><button type="submit"><a href="{% url 'ficha' %}">Cadastro</a></button></p>
        <p><button type="submit"><a href="{% url 'logout' %}">Logout</a></button></p>
    {% else %}
        <h1>Você não esta logado, tente novamente</h1>
        <button type="submit"> <a href="{% url 'login' %}">Login</a> </button>
    {% endif %}
{% endblock %}