/* Elemento de tag <body>, <HTML> */
body,
html {
    background-image: linear-gradient(60deg, #CBDEB7, #95C664);
}

/* Elementos com o ID "titulo" */
h1 {
    margin: auto;
    padding: 15px;
    font-family: 'Inter';
    font-style: normal;
    color: #E5E5E5;
}

p {
    font-family: 'Inter';
    font-style: normal;
    color: #E5E5E5;
}

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: 'Inter';
    color: #E5E5E5;
    margin: auto;
}

/* Elementos do container */
.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgba(18, 18, 18, 0.85);
    margin: auto;
    margin-top: 150px;
}

input,
button {
    height: 60px;
    font-size: 1.2rem;
    padding: 0 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

button[type=submit] {
    margin: auto;
    display: block;
}

/* Elementos de tag <fieldset>*/
fieldset {
    border: 0;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input,
select,
textarea,
button {
    font-family: 'Inter';
    font-size: 1em;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before,
.grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: #E5E5E5;
    display: block;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #E5E5E5;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: #E0E0F8;
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.2em;
    border: 0;
    margin-bottom: 1em;
    color: #000000;
    padding: 0.2em 0.6em;
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao,
select {
    cursor: pointer;
}